@font-face {
  font-family:"Pacifico";
  src: url("../fonts/Pacifico-Regular.woff");
}
h1{
	font-family:"Pacifico",cursive;
}
#header{
	border-color: #000000;
	background-color:#000000;
}

#emociones{

}

div[data-role="panel"]{
	background-color: #C0C0C0;
}

#panelOpciones{
	background-color: #C0C0C0;
}
div[subrayado="true"]{
	text-decoration: underline;
}
div[color="feliz"]{
	background-color:#FFD700;
}
div[color="feliz-barra"]{
	background-color:#FFA500;
}
div[color="serio"]{
	background-color:#FA8072;
}
div[color="serio-barra"]{
	background-color:#FFA07A;
}
div[color="triste"]{
	background-color:#696969;
}
div[color="triste-barra"]{
	background-color:#A9A9A9;
}
a#emociones{
	color:#000000;
}
#feliz{
	font-family:"Pacifico",cursive;
	width:33.333%;
	border: 5px solid black;
	text-align: center;
	float:left;
}

#serio{
	font-family:"Pacifico",cursive;
	width:33.333%;
	border: 5px solid black;
	text-align: center;
	float:left;
}

#triste{
	font-family:"Pacifico",cursive;
	width:33.333%;
	border: 5px solid black;
	text-align: center;
	float:left;
}

#lista_canciones{
	font-family:"Pacifico",cursive;
	border: 5px solid black;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	background-color:#FFFFFF;
}

#player-page,
#musicPlayer,
#musicPlayer a,
#files-list-page {
	font-family:"Pacifico",cursive;
}

#player {
	text-align: center;
}

#files-list li a {
	white-space: pre;
}
#icono_musica{
	width: 300px;
	height: 300px;
	background-color:#B0C4DE;
}

#reproductor-footer {
	text-align: center;
	min-height: 100px;
	background-color: lightgrey;
}
#reproductor-footer #player-play{
	width: 90px;
	height: 90px;
	border-radius: 50%!important;
	background: url("../img/play.png") no-repeat;
	background-size: 88px 88px;
}

#reproductor-footer #player-play:active,
#reproductor-footer #player-play:focus {
	opacity: 0.8;
	border: none!important;
	box-shadow: none !important;
	outline-style: none!important;
}
#prev{
	width: 90px;
	height: 90px;
	border-radius: 50%!important;
	background: url("../img/prev.png") no-repeat;
	background-size: 88px 88px;
}
#next{
	width: 90px;
	height: 90px;
	border-radius: 50%!important;
	background: url("../img/next.png") no-repeat;
	background-size: 88px 88px;
}

#elegir-emociones {
	height: 90px;
	background-color: grey;
	text-align: center;
	vertical-align: middle;
}
#elegir-emociones #cara-feliz img {
	width: 76px;
	height: 76px;
	border-radius: 50%!important;
}
#elegir-emociones #cara-seria img {
	width: 76px;
	height: 76px;
	border-radius: 50%!important;
}
#elegir-emociones #cara-triste img {
	width: 76px;
	height: 76px;
	border-radius: 50%!important;
}
#elegir-emociones #cara-feliz:focus,
#elegir-emociones #cara-seria:focus,
#elegir-emociones #cara-triste:focus {
	opacity: 0.8;
	border: none!important;
	box-shadow: none !important;
	outline-style: none!important;
}