@font-face {
  font-family:"Pacifico";
  src: url("../fonts/Pacifico-Regular.woff");
}
h1 {
	font-family:"Pacifico",cursive;
}
#header{
	border-color: #000000;
	background-color:#000000;
}

#emociones {

}

div[data-role="panel"] {
	background-color: #C0C0C0;
}

#panelOpciones {
	background-color: #C0C0C0;
}
div[subrayado="true"] {
	text-decoration: underline;
}
div[color="feliz"] {
	background-color:#FFD700;
}
div[color="feliz-barra"] {
	background-color:#FFA500;
}
div[color="serio"] {
	background-color:#FA8072;
}
div[color="serio-barra"] {
	background-color:#FFA07A;
}
div[color="triste"] {
	background-color:#696969;
}
div[color="triste-barra"] {
	background-color:#A9A9A9;
}
a#emociones {
	color:#000000;
}
#feliz {
	font-family:"Pacifico",cursive;
	font-size: 20px;
	width:33.333%;
	border: 5px solid black;
	text-align: center;
	float:left;
}

#serio {
	font-family:"Pacifico",cursive;
	font-size: 20px;
	width:33.333%;
	border: 5px solid black;
	text-align: center;
	float:left;
}

#triste {
	font-family:"Pacifico",cursive;
	font-size: 20px;
	width:33.333%;
	border: 5px solid black;
	text-align: center;
	float:left;
}

#lista_canciones {
	font-family:"Pacifico",cursive;
	border: 5px solid black;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	background-color:#FFFFFF;
}
#lista_canciones ul {
	margin-top: 7.8%;
	/*margin-right: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	overflow-y: scroll;*/
}

#fondovacioFeliz {
	background-color: #FFD700;
	height: 1024px;
	width: 100%;
}
#fondovacioSerio {
	background-color: #FA8072;
	height: 1024px;
	width: 100%;
}
#fondovacioTriste {
	background-color: #696969;
	height: 1024px;
	width: 100%;
}

#player-page,
#musicPlayer,
#musicPlayer a,
#files-list-page {
	font-family:"Pacifico",cursive;
}

#player {
	text-align: center;
}

#files-list li a {
	white-space: pre;
}
#icono_musica {
	min-width: 200px;
	max-width: 300px;
	min-height: 200px;
	max-height: 250px;
	background-color:#B0C4DE;
}

#reproductor-footer {
	text-align: center;
	height: 160px;
	background-color: lightgrey;
}
#reproductor-footer #player-play {
	width: 90px;
	height: 90px;
	border-radius: 50%!important;
	background: url("../img/play.png") no-repeat;
	background-size: 88px 88px;
}

#reproductor-footer #player-play:active,
#reproductor-footer #player-play:focus {
	opacity: 0.8;
	border: none!important;
	box-shadow: none !important;
	outline-style: none!important;
}
#prev {
	width: 90px;
	height: 90px;
	border-radius: 50%!important;
	background: url("../img/prev.png") no-repeat;
	background-size: 88px 88px;
}
#next {
	width: 90px;
	height: 90px;
	border-radius: 50%!important;
	background: url("../img/next.png") no-repeat;
	background-size: 88px 88px;
}

#elegir-emociones {
	height: 60px;
	background-color: grey;
	text-align: center;
	vertical-align: middle;
}
#elegir-emociones #cara-feliz img {
	width: 60px;
	height: 60px;
	border-radius: 50%!important;
}
#elegir-emociones #cara-seria img {
	width: 60px;
	height: 60px;
	border-radius: 50%!important;
}
#elegir-emociones #cara-triste img {
	width: 60px;
	height: 60px;
	border-radius: 50%!important;
}
#elegir-emociones #cara-feliz:focus,
#elegir-emociones #cara-seria:focus,
#elegir-emociones #cara-triste:focus {
	opacity: 0.8;
	border: none!important;
	box-shadow: none !important;
	outline-style: none!important;
}

@media only screen and (orientation: landscape) {
    #reproductor-footer {
		text-align: center;
		height: 110px;
		background-color: lightgrey;
	}

	#reproductor-footer #player-play {
		width: 60px;
		height: 60px;
		border-radius: 50%!important;
		background: url("../img/play.png") no-repeat;
		background-size: 58px 58px;
	}

	#prev {
		width: 60px;
		height: 60px;
		border-radius: 50%!important;
		background: url("../img/prev.png") no-repeat;
		background-size: 58px 58px;
	}
	#next {
		width: 60px;
		height: 60px;
		border-radius: 50%!important;
		background: url("../img/next.png") no-repeat;
		background-size: 58px 58px;
	}

	#elegir-emociones {
		height: 40px;
		background-color: grey;
		text-align: center;
		vertical-align: middle;
	}
	#elegir-emociones #cara-feliz img {
		width: 40px;
		height: 40px;
		border-radius: 50%!important;
	}
	#elegir-emociones #cara-seria img {
		width: 40px;
		height: 40px;
		border-radius: 50%!important;
	}
	#elegir-emociones #cara-triste img {
		width: 40px;
		height: 40px;
		border-radius: 50%!important;
	}

	#icono_musica {
		min-width: 70px;
		max-width: 70px;
		min-height: 70px;
		max-height: 70px;
		background-color:#B0C4DE;
	}
}